<div class="banner">
  <div class="container">
      <h1 class="title">BABÁ DE ALUGUEL</h1>
  </div>
</div>
<div class="container w-100 justify-content-center margin-top-negative">
  <div class="d-flex justify-content-between">
    <div class="m-3 show-left flex-grow-1">
      <h1>Editar Babysitter</h1>
      <div>
        <%= simple_form_for @babysitter do |f| %>
          <%= f.input :skill, label: 'Habilidade:', collection: %w(cozinhar limpar ensinar brincar) %>
          <%= f.input :experience, label: 'Tempo de experiência:' %>
          <%= f.input :price, label: 'Preço por hora:' %>
          <%= f.button :submit, class: "btn btn-primary"%>
          <%= link_to "Voltar", babysitter_path, class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
