<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1594639738432-ea7a76cd466c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')">
  <div class="container text-center justify-content-center align-middle">
    <h1 class="font-weight-bold">Baba de Aluguel</h1>
  </div>
</div>

<div class="container pb-3">
  <h1 class="font-weight-bold text-center p-3 h1">Escolha sua babá</h1>
  <div class="row marging justify-content-md-center">
    <% @babysitters.each do |babysitter| %>
      <div class="col-12 col-lg-4">
        <%= link_to babysitter_path(babysitter) do %>
          <div class="card-trip">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <div class="card-trip-infos">
              <p>Nome: <%=babysitter.user.email%></p>
              <p>Habilidade: <%=babysitter.skill%></p>
              <p>Tempo de experiencia: <%=babysitter.experience%></p>
              <p>CEP: <%=babysitter.price%></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= link_to "Fazer busca novamento", filter_path%>
  </div>
</div>
