<div class="banner_three">
  <div class="container text-center justify-content-center align-middle">
    <h1 class="font-weight-bold">Baba de Aluguel</h1>
  </div>
</div>
<div class="container pb-3">
  <h1 class="font-weight-bold text-center p-3 h1">Escolha sua babá</h1>
  <div class="row marging justify-content-between">
    <% @babysitters.each do |babysitter| %>
      <div class="col-12 col-lg-4">
        <%= link_to babysitter_path(babysitter) do %>
          <div class="card-trip">
            <%= cl_image_tag babysitter.user.photo.key %>
            <div class="card-trip-infos">
              <p>Nome: <%=babysitter.user.name%></p>
              <p>Habilidade: <%=babysitter.skill%></p>
              <p>Tempo de experiencia: <%=babysitter.experience%></p>
              <p>Price: <%=babysitter.price%></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <%= link_to "Fazer busca novamente", filter_path%>
</div>
