<div class="banner">
  <div class="container">
    <h1 class="title">BABÁ DE ALUGUEL</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card-new-nanny">
      <div class="card-body">
        <h5 class="card-title">Cadastrar Babysitter</h5>
      <div>
        <%= simple_form_for @babysitter do |f| %>
          <%= f.input :skill, label: 'Habilidade:', collection: %w(cozinhar limpar ensinar brincar) %>
          <%= f.input :experience, label: 'Tempo de experiência:' %>
          <%= f.input :price, label: 'Preço por hora:'%>
          <%= f.button :submit, "Criar", class: "btn"%>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
