<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1594639738432-ea7a76cd466c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')">
  <div class="container text-center justify-content-center align-middle">
    <h1 class="font-weight-bold">Baba de Aluguel</h1>
  </div>
</div>
<div class="container w-100 justify-content-center margin-top-negative">
  <div class="d-flex justify-content-between">
    <div class="m-3 show-left flex-grow-1">
      <h1>Cadastrar Babysitter</h1>
      <div>
        <%= simple_form_for @babysitter do |f| %>
          <%= f.input :skill, label: 'Habilidade:' %>
          <%= f.input :experience, label: 'Tempo de experiência:' %>
          <%= f.input :price, label: 'Preço:' %>
          <%= f.button :submit, class: "btn btn-primary"%>
          <%= link_to "Voltar", root_path, class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
