<div class="banner>
  <div class="container text-center justify-content-center align-middle">
    <h1 class="font-weight-bold">Baba de Aluguel</h1>
  </div>
</div>
<div class="container w-100 justify-content-center margin-top-negative">
  <div class="d-flex justify-content-between">
    <div class="m-3 show-left flex-grow-1">
      <div class="card-border p-3 h-100">
        <h3><%=@babysitter.user.name%></h3>
        <div>
          <p>Habilidade: <%=@babysitter.skill%></p>
          <p>Tempo de experiencia: <%=@babysitter.experience%></p>
          <p>Preco: <%=@babysitter.price%></p>
          <p>Local de trabalho: <%=@babysitter.user.location%></p>
        </div>
      </div>
    </div>
    <div>
      <h3>Agendamento</h3>
      <%= simple_form_for [ @babysitter, @service ] do |f| %>
        <%= f.input :date_time %>
        <%= f.input :duration, label: 'Duração em horas:' %>
        <%= f.button :submit, label: 'Agendar serviço', class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Voltar para a Lista de Babysitters", babysitters_path%>
