<div class="banner">
  <div class="container">
      <h1 class="title">BABÁ DE ALUGUEL</h1>
  </div>
</div>
<div class="container w-100 justify-content-center margin-top-negative">
  <div class="d-flex justify-content-between">
    <div>
      <h2><strong><%=@babysitter.user.name%></strong></h2>
      <%= cl_image_tag @babysitter.user.photo.key %>
    </div>
    <div class="m-3 show-left flex-grow-1">
      <div class="card-border p-3 h-100">
        <div>
          <h3>Habilidade: <%=@babysitter.skill%></h3>
          <h3>Tempo de experiencia: <%=@babysitter.experience%> anos</h3>
          <h3>Preco: R$<%=@babysitter.price%>0</h3>
          <h3>Local de trabalho: Bairro de <%=@babysitter.user.location%></h3>
        </div>
      </div>
    </div>
    <% if @babysitter.user != current_user %>
      <div>
        <h3>Agendamento</h3>
        <%= simple_form_for [ @babysitter, @service ] do |f| %>
          <%= f.input :start_date, required: true, input_html: {class: "datepicker"} %>
          <%= f.input :end_date, required: true, input_html: {class: "datepicker"} %>
          <%= f.input :duration, label: 'Duração em horas:', collection: [4, 8, 12] %>
          <%= f.button :submit, label: 'Agendar serviço', class: "btn btn-primary"%>
        <% end %>
      </div>
    <% else %>
      <div></div>
      <div>
        <%= link_to "Editar meu perfil", edit_babysitter_path(@babysitter), class: "btn text-primary w-50 h-25 m-3"%>
        <%= link_to "Parar de oferecer meu serviço", babysitter_path(@babysitter), method: :delete, data: { confirm: "Are you sure?" }, class: "btn text-primary w-50 h-25 m-3" %>
      </div>
    <% end %>
  </div>
</div>
