<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1594639738432-ea7a76cd466c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')">
  <div class="container text-center justify-content-center align-middle">
    <h1 class="font-weight-bold">Baba de Aluguel</h1>
  </div>
</div>
<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "Minhas babás", services_path%>
  </li>
  <li>
    <!-- <%= link_to "Meus serviços",  babysitter_babysitter_services_path%> -->
  </li>
</ul>

<div class="container pb-3">Serviços agendados</h1>
  <div class="row marging justify-content-between">
    <% @services.each do |service| %>
      <div class="col-12 col-lg-4">
        <%= link_to babysitter_path(service.babysitter) do %>
          <div class="card-trip">
            <%= cl_image_tag service.babysitter.user.photo.key %>
            <div class="card-trip-infos">
              <p>Nome: <%=service.babysitter.user.name%></p>
              <p>Dia e hora do Serviço: <%= service.date_time %> </p>
              <p>Duração em horas: <%= service.duration %> </p>
              <p>Preço total: <%=service.total_price%></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= link_to "Agendar mais serviços", filter_path%>
</div>
