<div class="banner">
  <div class="container">
      <h1 class="title">BABÁ DE ALUGUEL</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card-f">
      <div class="card-filter text-center">
        <h5 class="card-title mb-4">Conte-nos um pouco sobre o que você procura</h5>
        <%= form_tag babysitters_path, method: :get, class: 'form-horizontal' do %>
        <%= number_field_tag :price,
          params[:price],
          class: "form-control mb-2",
          placeholder: "Preço por hora"
        %>
        <%= number_field_tag :experience,
          params[:experience],
          class: "form-control mb-2",
          placeholder: "Anos de experiência"
        %>
        <%= select_tag :skill, raw("<option>Selecione uma habilidade</option><option>cozinhar</option><option>limpar</option><option>ensinar</option><option>brincar</option>"),
          class: "form-control"
        %>
        <%= submit_tag "Procurar", class: "btn" %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card-f">
      <div class="card-trip">
        <img src="https://i0.wp.com/acontecejundiai.com.br/wp-content/uploads/2019/09/Pinoquio.jpg?resize=800%2C445" />
        <div class="card-trip-infos">
          <h5>Teatro e diversão perto de você</h5>
          <%= submit_tag "Saiba mais", class: "btn" %>
        </div>
      </div>
    </div>
  </div>
</div>

