<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1594639738432-ea7a76cd466c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')">
  <div class="container text-center justify-content-center align-middle">
    <h1 class="font-weight-bold">Baba de Aluguel</h1>
  </div>
</div>

<div class="container w-100 justify-content-center">
  <div class="d-flex justify-content-between">
    <div class="card-border p-3 h-100">
      <h2>Conte-nos um pouco sobre o que você procura</h2>
      <%= form_tag babysitters_path, method: :get, class: 'form-inline' do %>
        <%= number_field_tag :price,
          params[:price],
          class: "form-control",
          placeholder: "Preço por hora"
        %>
        <%= number_field_tag :experience,
          params[:experience],
          class: "form-control",
          placeholder: "Anos de experiência"
        %>
        <%= select_tag :skill, raw("<option>Selecione uma habilidade</option><option>cozinhar</option><option>limpar</option><option>ensinar</option><option>brincar</option>"),
          class: "form-control"
        %>
        <%= submit_tag "Procurar", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <h3>Dicas</h3>
        <p>Teatro e diversão perto de você</p>
      </div>
    </div>
  </div>
</div>
